.form-label{
    color: red;
    font-size: 7rem;
    justify-content: space-between;
}
#PP-id{
    width: 25%;
    margin-left: 500px;
}
#TK-id{
    width: 25%;
    margin-left: 500px;
}
h3{
    margin-left: 500px;
}
#id-Label{
    margin-left: 500px;
}
#btn-login{
    margin-left: 500px;    
}