<link rel="stylesheet" href="/css/app.css">
<style>
body {
  background-image: url('https://www.saurabhkarwal.com/wp-content/uploads/2018/03/Background-opera-speeddials-community-web-simple-backgrounds-1.jpg');
  background-repeat: no-repeat;
}
</style>
<div class="mt-4" >
  <form method="get" action="menu">
  <div class="mb-3">
    <label for="input-Search" id="id-Label" class="form-label">Log In</label>
    <br>
    <br>
    <h3 class="Input-ID">Nhập tên tài khoản : </h3> 
    <input type="input" class="form-control" id="TK-id" name="Account-name" placeholder="Nhập...">
    <br>
    <h3>Nhập mật khẩu: </h3>
    <input type="password" class="form-control" id="PP-id" name="password" placeholder="Nhập...">
    {{!-- <input type="input" name="age">  --}}
  </div>
  <button type="submit" id="btn-login" class="btn btn-primary">Go!!!</button>
</form>
</div>